@import url("global.css");

.message-area::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.message-area::-webkit-scrollbar-track {
  background: #505050;
  border-radius: 50px;
}

/* Handle */
.message-area::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 50px;
}

/* Handle on hover */
.message-area::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}
